<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="href=../../../assets/mata_mosquito.png"
      cardTitle="GAME MATA MOSQUITO COM JS"
      cardDescription="Este é um jogo simples de mata-mosquitos criado com JavaScript. O objetivo do jogo é matar o maior número possível de mosquitos em 15 segundos."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Game Mario Jump"
      photoCover="https://t2.tudocdn.net/623118?w=1920"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Projeto Pokedex"
      photoCover="https://static1-br.millenium.gg/articles/8/12/76/8/@/143480-imagem-2022-11-29-141240080-article_image_t-2.png"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Projeto Spotify Clone"
      photoCover="https://sm.ign.com/ign_br/tech/default/spotify-1280x720_rjk6.jpg"
    >
    </app-small-card>
  </div>
</div>